extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Joseph Prinzevalli Jr.

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p For my whole life, my background was in education. I've had experience in tutoring and psychoeducational schooling. I've always loved the idea of coding and progamming, however I didn't think it was possible without a degree in computer science. At the end of 2022, I was introduced to Treehouse's Techdegree, and instantly saw a future in Web Development. After numerous projects, I found myself immersed within the field of software development, nad eager to learn more langauges and techniques.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML/CSS
          li Peer Review
          li JavaScript
          li Git and GitHub
          li SPSS/Data Analytics
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 631-942-4982
          li joeprinzevalli123@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/joseph-prinzevalli/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/JoePrinzevalli' target='_blank') GitHub
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back