extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Joseph Prinzevalli Jr.

        p Full Stack JavaScript Developer


        .about-bio

          p For my whole life, my background was in education. I've had experience in tutoring and psychoeducational schooling. I've always loved the idea of coding and progamming, however I didn't think it was possible without a degree in computer science. At the end of 2022, I was introduced to Treehouse's Techdegree, and instantly saw a future in Web Development. After numerous projects, I found myself immersed within the field of software development, and eager to learn more langauges and techniques.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML/CSS
          li Peer Review
          li JavaScript
          li Git and GitHub
          li SPSS/Data Analytics
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul.info-links
          li 631-942-4982
          li joeprinzevalli123@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/joseph-prinzevalli/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/JoePrinzevalli' target='_blank') GitHub
        a.btn-link(href='/static/images/resume.pdf' target='_blank') Resume
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back