extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Coding Adventure

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p In this portfolio you will find projects that display my knowledge of HTML/CSS and JavaScript. The projects follow along my journey of leanring about responsive designs, different types of fucntions to connecting to APIs, error handling and much more. This portfolio was built using Express and Pug. I hope after reviewing my portfolio, and some of the projects I completed, you can see my dedication to that of Web Development.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

      each project in projects
        .cell
            a(href=`/project/${project.id}`)
              h5.project-header= `${project.project_name}`
              img.thumbnail(src=`/static${project.image_urls[0]}`, alt=`${project.image_alts[0]}`) 
              //- why is the registration form bigge than other prictures
