extends layout.pug

block content

  article.portfolio-intro

    h1 My Coding Adventure
 
    p In this portfolio you will find projects that display my knowledge of HTML/CSS and JavaScript. The projects follow along my journey of leanring about responsive designs, different types of fucntions to connecting to APIs, error handling and much more. This portfolio was built using Express and Pug. I hope after reviewing my portfolio, and some of the projects I completed, you can see my dedication to that of Web Development. Enjoy!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
            a(href=`/project/${project.id}`)
              h5.project-header= `${project.project_name}`
              img.thumbnail(src=`/static${project.image_urls[0]}`, alt=`${project.image_alts[0]}`) 