extends layout.pug

block content

    img.page-not-found(src='/static/images/wandering.jpeg')
    h1.error-header= status
        p= message
        //- pre #{error.stack}

        a(href='/')
            p Back To Home &rarr;